h2,
  h3,
    h4{
        color:seashell;
        opacity: 0.9;
    }


.main{
background-color:black;
}

.head{
height: 69px;
position: fixed;
width: 100%;
border-bottom: 1px solid seashell;
z-index: 5;
display: flex;
justify-content: center;
background-color: black;
}

.logo{
    height: 50px;
    padding: 5px 10px;
    opacity: 0.9;
    
}

.nav{
    text-decoration: underline;
    opacity: 0.9;
    align-items: flex-end;
    list-style: none;
    display: inline;
}
.nav li{
    display:inline-block;
    padding-left: 10px;
    font-size: 22px;
    align-items: end;
}

.nav a {
    color:seashell;
}

#hero{
    display: flex;
    justify-content: center;
}
#hero img{
    max-width:1200px;
    max-height: 700px;
    top: 69px;
    position: relative;

}

.heroMessage{
    background-color: black;
    z-index: 2;
    position: absolute;
    top:350px;
    text-align: center;
    width:1200px;
    
}
.teaheader h2{
    padding-top: 60px;
}
.monthlytea{
display: flex;
height: 300px;
width: 70%;
margin-left: 15%;
border: 1px solid grey;
flex-wrap: wrap;
justify-content: space-around;
align-items: center;
}
.teaheader{
text-align: center;
}

.row img{
    max-width: 300px;
    max-height: 200px;
}
.row h4{
    text-align: center;
    
}

.locations{
    background-position: center;
    height: 500px;
    background-repeat: no-repeat;
    background-size: 70%;
    background-image: url("https://content.codecademy.com/courses/freelance-1/unit-4/img-locations-background.jpg?_gl=1*h8z8it*_ga*NDQyNzg0NTUwLjE3MTUzNTk0ODY.*_ga_3LRZM6TM9L*MTcxNTg3NjE2Ni4xMy4xLjE3MTU4NzYxNjkuNTcuMC4w") ;
}
.locations h2{
    padding-top: 30px;
    text-align: center;
    color:seashell;
}
.location {
    height: 300px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
}
.place{
    width: 300px;
    background-color: black;
    line-height: 1.5em;
    margin-right: 40px;
}
.place:last-child { 
    margin-right: 0px;
 }
 
 .foot{
    text-align: center;
 }
